#bs-extendedstatistics-special-aggregatedstatistics {
	.default-filters-layout {
		.oo-ui-fieldLayout,
		.oo-ui-widget {
			vertical-align: top;
		}
	}

	.aggregatedStatistics-filter-field {
		min-width: 300px;

		&.interval-filter {
			min-width: 100px;
		}
	}

	.mw-widget-dateInputWidget.oo-ui-textInputWidget {
		margin-top: 0;
	}

	.as-error-cnt {
		color: red;
	}
}

.grid .tick {
	color: #f1f1f4;
}
